extends ../application

block content
    .container
        h1 Bulletin board
        hr
        each message in messages
            .card.card-block
                .row
                    .col-md-4.hidden-md-down
                    .col-xs-12.col-md-8
                        a(href="/messages/" + message.id)
                            h2= message.title
                        h5= message.id
                        p=message.body
                        .row
                            col-xs-3
                                form(action="/messages/" + message.id method="POST")